<div class="header">
    <div class="header-main">
        <div class="item">
            <a routerLink="/"><img class="item-img" src="https://i.pinimg.com/736x/06/d9/90/06d990f9613b691cb3c49a5e1618513e.jpg" alt=""></a>
            <a class="text-login" routerLink="/">Trang chủ</a>
            <a class="text-login" routerLink="/phimchieurap">Phim chiếu rạp</a>
            <a class="text-login" routerLink="/phimle">Phim lẻ</a>
            <a class="text-login" href="#">Danh sách của tôi</a>
            <a class="text-login" href="#">Gói đặc sắc</a>
        </div>
        <div class="item-box">
            <!-- <div class="item-box-1">
                <a class="text-login text-login1" href="">
                    <p style="margin-left: 5px;">Mua Gói</p>
                </a>
            </div> -->
            <a class="text-login" style="margin-left: 0px;" href="">Đăng nhập</a>
            <a class="text-login" href="">Đăng kí</a>
        </div>
    </div>
</div>