<div class="footer">
    <div class="footer-main">
        <div class="main-top">
            <div class="item" style="width:200px;">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
        <div class="main-bot">
            <div class="box">
                <a class="box-text" href="">Âm thanh và phụ đề</a> <br> <br>
                <a class="box-text" href="">Trung tâm đa phương tiện</a> <br> <br>
                <a class="box-text" href="">Quyền riêng tư</a> <br> <br>
                <a class="box-text" href="">Liên hệ với chúng tôi</a> <br>
            </div>
            <div class="box">
                <a class="box-text" href="">Mô tả âm thanh</a> <br> <br>
                <a class="box-text" href="">Quan hệ với nhà đầu tư</a> <br> <br>
                <a class="box-text" href="">Thông báo pháp lý</a> <br> <br>
            </div>
            <div class="box">
                <a class="box-text" href="">Trung tâm trợ giúp</a> <br> <br>
                <a class="box-text" href="">Việc làm</a> <br> <br>
                <a class="box-text" href="">tùy chọn cookie</a> <br> <br>
            </div>
            <div class="box">
                <a class="box-text" href="">Thẻ quà tặng</a> <br> <br>
                <a class="box-text" href="">Điều khoản sử đụng</a> <br> <br>
                <a class="box-text" href="">thông tin doanh nghiệp</a> <br> <br>
            </div>
        </div>
    </div>
</div>